{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Add New Members</h3>
    <div class="box">
        
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}
        {% if users %}
        <form method="POST" action="/addMem">
                {% for user in users %}
                <div class="field">
                    <div class="control">
                        <input type="radio" name="options" id="{{ user.email }}" value="{{ user.email }}" class="input-is-large">{{ user.name }}:{{ user.email }}</input>
                    </div>
                </div>
                {% endfor %}
            <button class="button is-block is-info is-large is-fullwidth">Add Member</button>
        </form>
        {% else %}
        <div class="field">
            <div class="control">
                No more User Requests.
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}