{% extends "base.html" %}

{% block mycss %}
<style>
    .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5%;
    }

    input {
    font-size: 1rem;
    padding: 0.5rem 1.5rem;
    color: #f4f4f4;
    }

    .btnn {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    }

    .btnn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
    }

    .btnn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(146, 148, 248, 0.4),
        transparent
    );
    transition: all 650ms;
    }

    .btnn:hover:before {
    left: 100%;
    }
</style>
{% endblock %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Search For Books</h3>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}
     <form action="/search" method="post">       
        {% if form %}
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <input class="input is-medium" type="text" name="Name" {% if form["Name"] %}value="{{ form['Name'] }}" {% else %} placeholder="Name of the Book" {% endif %} autofocus="">
            </p>

            <p class="control">
                <input class="input is-medium" type="text" name="Author" {% if form["Author"] %}value="{{ form['Author'] }}" {% else %} placeholder="Author of the Book" {% endif %}  autofocus="">
            </p>
            <div class="control">
                <input class="input is-medium" type="text" name="Publisher"  {% if form["Publisher"] %}value="{{ form['Publisher'] }}" {% else %} placeholder="Publisher of the Book" {% endif %} autofocus="">
            </div>
            <div class="control">
                <input class="input is-medium" type="text" name="ISBN"  {% if form["ISBN"] %}value="{{ form['ISBN'] }}" {% else %} placeholder="ISBN of the Book" {% endif %} autofocus="">
            </div>
            
           
        </div>
        {% else %}
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <input class="input is-medium" type="text" name="Name" placeholder="Name of The Book" autofocus="">
            </p>

            <p class="control">
                <input class="input is-medium" type="text" name="Author" placeholder="Author of the Book" autofocus="">
            </p>
            <div class="control">
                <input class="input is-medium" type="text" name="Publisher" placeholder="Publisher of the Book" autofocus="">
            </div>
            <div class="control">
                <input class="input is-medium" type="text" name="ISBN" placeholder="ISBN Number of the Book" autofocus="">
            </div>
           
        </div>
        {% endif %}
        <div class="field is-grouped is-grouped-centered">
            <button class="button is-block is-info is-medium ">Search Book</button>
        </div>
        
    </form>
<br>
<br>
    {% if results %}
    <div class="column is-4 is-offset-4">
        <h3 class="title">Books</h3>
    <br>
    <form action="\requestIssue" method="post">
        <ul>
        {% for result in results %}
        <br>
        <br>
        <li>
        <div class="field is-grouped is-grouped-centered">
            <p class="control is-medium">
                Name of Book : {{ result.Title }} <br>
                ISBN of Book : {{ result.ISBN }} <br>
                Author of Book : {{ result.Author }} <br>
                Publisher of Book : {{ result.Publisher }} <br>
                Rack Available : {{ result.Rack }} <br>
            </p>
            <!-- <input type="hidden" value=""> -->
            <button class="button is-block is-info is-medium" name="options" value="{{ result.ISBN }}">Request Issue</button>
        </div>
    </li>
        {% endfor %}
    </ul>
    </form>
    </div>
    {% endif %}

</div>
<div class="buttonContainer">
    <input style="color:black" class = "btnn" type="button" value="Go Back" onclick="history.back(-1)" />
</div>
  {% endblock %}