{% extends "base.html" %}

{% block content %}

<div class="column is-4 is-offset-4">
    <h3 class="title">Books Older than 5 Years</h3>
    <div class="box">

        {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        {% endif %}
        {% endwith %}

        {% if lis %}
        <form method="POST" action="/stats">
                <div class="field">
                    <div class="control">
                        <div class="content">
                                {% for book in lis %}
                              
                                <div class="field">
                                    <div class="control">
                                        <input type="radio" name="options" id="{{ book.ISBN }}" value="{{ book.ISBN }}" class="input-is-large">{{ book.Title }} :: {{ book.ISBN }} :: {{ book.Publisher }}</input>
                                    </div>
                                </div>
                                {% endfor %}

                        </div>
                    </div>
                </div>
            <button class="button is-block is-info is-large is-fullwidth">Remove Book</button>
        </form>
        {% else %}
        <div class="field">
            <div class="control">
                No Books Older than 5 Years.
            </div>
        </div>
        {% endif %}
    </div>
</div>
{% endblock %}