{% extends "base.html" %}
{% block mycss %}
<style>
    .content-table {
        display: inline-block;
        background-color: white;
        border-collapse: collapse;
        margin: 25px 0;
        font-size: 0.9em;
        min-width: 400px;
        border-radius: 5px 5px 0 0;
        overflow: hidden;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    }

    .content-table thead tr {
        background-color: rgb(28, 163, 197);
        color: #ffffff;
        text-align: left;
        font-weight: bold;
    }

    .content-table th,
    .content-table td {
        color: black;
        padding: 12px 15px;
    }

    .content-table tbody tr {
        border-bottom: 1px solid #dddddd;
    }

    .content-table tbody tr:nth-of-type(even) {
        background-color: #f3f3f3;
    }

    .content-table tbody tr:last-of-type {
        border-bottom: 2px solid rgb(11, 61, 1);
    }      
    .buttonContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 7.5%;
    }

    input {
    font-size: 1.5rem;
    padding: 1rem 3rem;
    color: #f4f4f4;
    }

    .btnn {
    text-decoration: none;
    border: 1px solid rgb(146, 148, 248);
    position: relative;
    overflow: hidden;
    text-transform: uppercase;
    }

    .btnn:hover {
    box-shadow: 1px 1px 25px 10px rgba(146, 148, 248, 0.4);
    }

    .btnn:before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(
        120deg,
        transparent,
        rgba(146, 148, 248, 0.4),
        transparent

    );
    transition: all 650ms;
    }

    .btnn:hover:before {
    left: 100%;
    }
</style>
{% endblock %}
{% block content %}
    <h3 class="title">Admin Table</h3>
    
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <div class="box">
            <div class="notification is-danger">
                {{ messages[0] }}.
            </div>
        </div>
        {% endif %}
        {% endwith %}
        {% if Users %}
        <table class="content-table">
            <thead>
                <tr>
                    <th>Name of Admin</th>
                    <th>Email of Admin</th>
                    <th>Remove Admin</th>
                    
                </tr>
            </thead>
            
            <tbody>
                {% for user in Users %}
                <tr>
                <th>{{ user.name }}</th>
                <td>{{ user.email }}</td>
                <td>
                    <form action="\viewAdmins" method="post">
                        <input class="button is-danger" type="submit" value="Remove Admin">
                        <input type="hidden" name="options" id="options" value="{{ user.id }}">
                    </form>
                </td>
            </tr>
                {% endfor %}
            </tbody>
        </table>
            {% else %}
            No Admins Yet.
            {% endif %}
        
       
    <div class="buttonContainer">
        <input style="color:black" class = "btnn" type="button" value="Go Back" onclick="history.back(-1)" />
    </div>
{% endblock %}